<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
    }

    .header {
      background-color: #f0f0f0;
      padding: 20px;
      text-align: center;
    }

    .content {
      background-color: #ffffff;
      padding: 60px;
      text-align: center;
    }

    .footer {
      background-color: #f0f0f0;
      padding: 30px;
      text-align: center;
    }
  </style>
</head>

<body>
<div class="container">
  <div class="header">
    <h1>Bienvenido!</h1>
  </div>
  <div class="content">
    <p><br>Su cuenta ha sido creada correctamente<br><br></p>
  </div>
  <div class="footer">

  </div>
</div>
</body>

</html>